# Things not to be sent with npm

## Npm stuff
node_modules

## GitHub stuff
.gitattributes
.gitignore
.git

## VS Code stuff
.vscode

## Other
tsconfig.json

## trying to test what was wrong with old tsconfig.json
tsconfig.json.test

## Continue
tslint.json
dist
test/

### I plan to add docs
docs/
